@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;  
  --foreground: #1f1f1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  display: inline-block;
  border-radius: 0.375rem;
}
